template:
  name:
  header: "worker processes 8;\n\nevents{\n    worker_connections 1024;\n}\nstream{\n"
  footer: "}"

ssh-configs:
  - host: 127.0.0.1
    port: 22
    username: root
    password: "123456"
    type: "password"
    rsa-path: ""
    target-path: "/etc/nginx"
    nginx-path: "/usr/sbin/nginx"